*{
	margin: 0px;
	padding: 0px;
}

.menu-item{
	height: 33vh;
	padding-left: 30px;
	padding-right: 30px;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position: relative;
	text-align: center;
}

.hover{
	display: none;
}

.hover1{
	display: block;
	text-align: center;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .65);
	color: #e66001;
	display: table;
}

.hover1 h1{
	display: table-cell;
	vertical-align: middle;
}



@media (min-width: 544px){

}

@media (min-width: 768px){
	
	.hover1{
		display: none;
	}

	.hover{
		display: block;
		text-align: center;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, .65);
		color: #e66001;
		display: table;
	}

	.hover h1{
		display: table-cell;
		vertical-align: middle;
	}


}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}